@model List<PhoneStore.Models.Cart>
@using PhoneStore.Models
@using PagedList.Mvc;
@using System.Linq
@using System.Web.Mvc
@using System.Web.WebPages
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="~/Content/index/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/index/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/index/css/owl.carousel.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/index/css/responsive.css">
<link rel="stylesheet" href="~/Content/PageList.css" />
<link rel="stylesheet" href="~/Content/CSS.css" />
<script src="~/Scripts/Controller/motion.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>




<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Giỏ hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model == null)
{
    <p class="text-info text-center">
        Chưa có sản phẩm trong giỏ hàng
    </p>
}
else
{
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form method="post" action="#">
                                <table cellspacing="0" class="shop_table cart">

                                    <thead>
                                        <tr>
                                            <th class="product-name">Sản phẩm</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-del"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="cart_item">
                                                <td class="product-name"><a href=" @Url.Action("Details", "Sanphams", new { id = item.MaSanPham }) ">@item.TenSanPham</a></td>
                                                <td class="product-price">
                                                    <span class="amount">@item.GiaBan.ToString()VNĐ</span>
                                                </td>
                                                <td class="product-quantity">
                                                    <form action="@Url.Action("Update")" method="get">
                                                        <input type="hidden" name="MaSP" value="@item.MaSanPham" />
                                                        <input style="number" min="1" name="txtSoluong" value="@item.SoLuong" />
                                                        <button style="submit" class="btn btn-success btn-sm">Cập nhật </button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Del", new { MaSP = item.MaSanPham })" onclick="return comfrim('Xóa Sản Phẩm này?');" class="btn btn-danger" btn-sm>Xóa</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </form>

                            <div class="cart-collaterals">
                                <div class="cart_totals ">
                                    <h2>Hóa đơn</h2>
                                    <table cellspacing="0">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Tổng sản phẩm</th>
                                                <td><span class="amount">@Model.Sum(m => m.TongTien) Vnđ</span></td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Phí Ship</th>
                                                <td>Miễn Phí</td>
                                            </tr>

                                            <tr class="order-total">
                                                <th>Tổng đơn hàng</th>
                                                <td><strong><span class="amount">@Model.Sum(m => m.TongTien) Vnđ</span></strong> </td>
                                            </tr>
                                            <tr style="text-align:center;">
                                                <td colspan="6">
                                                    <form actiom="@Url.Action("Order","GioHang")" method="get">
                                                        <a class="btn btn-success btn-sm" href="@Url.Action("Payment","Cart")">Thanh Toán Khi Nhận Hàng</a>
                                                        <a class="btn btn-success btn-sm" href="#">Thanh Toán Online</a>
                                                    </form>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align:center;"><a class="btn btn-success btn-sm" href="@Url.Action("Index","Shopping")">Tiếp tục mua</a></div>
            </div>
        </div>
    </div>

}
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="~/Content/index/js/owl.carousel.min.js"></script>
<script src="~/Content/index/js/jquery.sticky.js"></script>
<script src="~/Content/index/js/jquery.easing.1.3.min.js"></script>
<script src="~/Content/index/js/main.js"></script>
<script type="text/javascript" src="~/Content/index/js/bxslider.min.js"></script>
<script type="text/javascript" src="~/Content/index/js/script.slider.js"></script>
