@model IEnumerable<PhoneStore.Models.SanPham>
@using PhoneStore.Models
<link rel="stylesheet" href="~/Content/PagedList.css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tên Sản Phẩm", "Index", new { sortOrder = ViewBag.SortByName })
        </th>
        <th>
            Loại sản phẩm
        </th>
        <th>
            Hình ảnh

        </th>
        <th>
            @Html.ActionLink("Giá Bán", "Index", new { sortOrder = ViewBag.SortByPrice })
        </th>
        <th>
            @Html.ActionLink("Đã Bán", "Index", new { sortOrder = ViewBag.SortBybuy })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoaiSanPham)
            </td>
            <td>
                @Html.Image("../" + item.HinhAnh, "alt", "100")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaBan)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSanPham }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaSanPham }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSanPham })
            </td>
        </tr>
    }

</table>
@*<div>
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort
}))
</div>*@