@model IEnumerable<PhoneStore.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Số Lượng mua
        </th>
        <th>
            Giá Bán
        </th>

        <th>
            Mã Hóa Đơn
        </th>
        <th>
            Tên Sản Phẩm
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HoaDon.MaHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
