@model IEnumerable<PhoneStore.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HomeAdmin/Share/Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/style.css">
<div class="container">
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Chi tiết Hóa đơn</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="text-align:center">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr style="text-align:center;">
                    <th>Số lượng mua</th>
                    <th>Giá bán</th>
                    <th>Địa chỉ giao hàng</th>
                    <th>Tên Sản Phẩm</th>
                    <th></th>
                </tr>
                <tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.SoLuongMua)</td>
                        <td><a targer="_blank">@Html.DisplayFor(modelItem => item.GiaBan)</a></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoaDon.shipadd)
                        </td>
                        <td> @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
