@model IEnumerable<PhoneStore.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HomeAdmin/Share/Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/style.css">

<link rel="stylesheet" href="~/Content/style.css">
<div class="container">
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Hoá Đơn</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="text-align:center">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr style="text-align:center;">
                        <th>Id</th>
                        <th>Tên Khách hàng</th>
                        <th>Tổng tiền</th>
                        <th>Tên Nhân viên</th>
                        <th>Địa chỉ</th>
                        <th>Ngày mua hàng</th>
                        <th></th>
                    </tr>
                    <tr>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.MaHoaDon)</td>
                            <td><a targer="_blank">@Html.DisplayFor(modelItem => item.shipname)</a></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TongTien)
                            </td>
                            <td> @Html.DisplayFor(modelItem => item.NhanVien.TenNhanVien)</td>
                            <td>@Html.DisplayFor(modelItem => item.shipadd)</td>
                            <td>@Html.DisplayFor(modelItem => item.NgayLapHoaDon)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MaHoaDon }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MaHoaDon }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MaHoaDon })
                            </td>
                        </tr>
                    }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


