@model IEnumerable<PhoneStore.Models.HoaDon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Ngày Lập Hóa Đơn
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Tên Khách Hàng
        </th>
        <th>
            Tên Nhân Viên
        </th>
        <th>
            Địa Chỉ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.MaHoaDon)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLapHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.TenNhanVien)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.shipadd)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaHoaDon }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaHoaDon }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaHoaDon })
                </td>

            }
        </tr>
    }

</table>
